@font-face {
  font-family: "Yekan";
  src: url("/assets/fonts/Yekan.eot");
  src: url("/assets/fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Yekan.woff2") format("woff2"),
    url("/assets/fonts/Yekan.woff") format("woff"),
    url("/assets/fonts/Yekan.otf") format("opentype"),
    url("/assets/fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

:root {
  --base-white: #ffffff;
  --neutral--20: #f9f9f9;
  /* --Neutral-10 : #FFFFFF; */
  --prime-green: #4ca773;
  --Primary-500: #4ca773;
  --Primary-100: #32bca3;
  --Primary-50: #d9f9e4;
  --Primary-700: #295e43;
  --Primary-800: #214d39;
  --Primary-900: #0f2b21;
  --primary-black: #1c1c1c;
  --Neutral-20: #f9f9f9;
  --Neutral-40: #e0e0e0;
  --Neutral-10: #fff;
  --Neutral-11: #ffffff;
  --Neutral-70: #7c7c7c;
  --Neutral-60: #a8a8a8;
  --Gray-700: #344054;
  --Neutral-90: #252525;
  --Primary-900: #0f2b21;
  --Gray-200: #eaecf0;
  --Gray-400: #98a2b3;
  --Gray-900: #101828;
  --Gray-500: #667085;
  --Gray-300: #d0d5dd;
  --Gray-100: #f2f4f7;
  --Gray-600: #475467;
  --Gray-50: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  direction: rtl;
}

button {
  background: none;
}
body {
  font-family: "Yekan", sans-serif !important;
  font-variant-numeric: lining-nums;
  max-width: 1920px;
}
#maxWidth {
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 950px) {
  body {
    cursor: default;
  }
}

a {
  color: inherit;
}

select {
  background: none;
}

/* Style for Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #4ca773;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}

/* Style for Firefox */
* {
  scrollbar-color: #4ca773 #1c1c1c;
  scrollbar-width: thin;
}

/* Style for Edge and IE */
*::-ms-scrollbar {
  width: 12px;
}

*::-ms-thumb {
  background-color: #4ca773;
  border-radius: 6px;
}

*::-ms-track {
  background-color: #1c1c1c;
}

body {
  overflow-x: hidden;
}
